<div class="h-full row-span-full col-start-3 col-end-7 border-r border-black">
    <div class="w-full px-4 py-6 flex flex-row justify-between align-middle items-center bg-white">
        <h2 class="text-sky-600 text-2xl font-bold">{{ controller.Name }}s</h2>
        <button hx-get="{{ controller.base_url }}/get/creator" hx-trigger="click" hx-target="#content_area" class="px-4 py-2 text-sm text-white border-none bg-sky-600 hover:bg-sky-700">New {{ controller.Name }}</button>
    </div>
    <div class="w-full flex flex-row justify-start align-middle items-center bg-white">
        <form method="POST" class="w-full px-4 py-2">
            <input type="text" name="list_search" placeholder="Search {{ controller.name }}s" class="h-full w-full text-sm border border-black bg-white focus:ring-sky-600 focus:border-sky-600">
        </form>
    </div>
    <div class="w-full px-4 pb-2 flex flex-row justify-start align-middle items-center bg-white">
        <button hx-get="{{ controller.base_url }}/get/list" hx-trigger="click" hx-target="list_area" class="mr-2 px-6 py-2 font-bold text-sm text-sky-600 hover:text-sky-700 border border-sky-600 hover:border-sky-700 bg-sky-200 hover:bg-sky-300">All</button>
        <button _="on click log('test')" class="mr-2 px-6 py-2 font-bold text-sm text-stone-600 hover:text-stone-700 border border-stone-600 hover:border-stone-700 bg-stone-200 hover:bg-stone-300">Added</button>
    </div>
    <div id="list_area" hx-get="{{ controller.base_url }}/get/list" hx-trigger="load" hx-swap="outerHTML">
        <!-- Load table fragment with HTMX -->

    </div>
</div>