<div class="h-full row-span-full col-start-0 col-end-3 col-span-2 flex flex-col justify-start align-middle items-center border-r border-black bg-white">
    <div class="w-full mb-4 px-4 pt-6 text-left">
        <h1 class="font-black italic text-3xl text-sky-600">RSMS</h1>
    </div>
    <div class="w-full px-2">
        <ul>
            <li>
                <a class="mb-2 pl-3 pr-4 py-2 flex flex-row justify-start align-middle items-center text-sm text-black hover:text-sky-600 rounded-sm bg-none hover:bg-sky-50" href="/dashboard">
                    <svg class="mr-2 h-5 w-5" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a class="mb-2 pl-3 pr-4 py-2 flex flex-row justify-start align-middle items-center text-sm text-black hover:text-sky-600 rounded-sm bg-none hover:bg-sky-50" href="/tickets">
                    <svg class="inline mr-2 h-5 w-5" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Tickets
                </a>
            </li>
            <li>
                <a class="mb-2 pl-3 pr-4 py-2 flex flex-row justify-start align-middle items-center text-sm text-black hover:text-sky-600 rounded-sm bg-none hover:bg-sky-50" href="/customers">
                    <svg class="mr-2 h-5 w-5" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Customers
                </a>
            </li>
            <li>
                <a class="mb-2 pl-3 pr-4 py-2 flex flex-row justify-start align-middle items-center text-sm text-black hover:text-sky-600 rounded-sm bg-none hover:bg-sky-50" href="/devices">
                    <svg class="mr-2 h-5 w-5" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Devices
                </a>
            </li>
        </ul>
    </div>
    <div class="flex-grow"></div>
    <div class="w-full px-4 py-4 flex flex-row justify-start align-middle items-center border-t border-black">
        <div class="mr-4">
            <img class="h-10 w-10 box-shadow-black" src="{{ assets_url }}/profile2.jpg">
        </div>
        <div>
            <h5 class="font-bold text-xs text-black">{{ user_info.first_name }} {{ user_info.last_name }}</h5>
            <h6 class="text-xs text-stone-600">{{ user_info.email }}</h6>
        </div>
    </div>
</div>