<div class="flex flex-col justify-start align-middle items-center mx-48">
<div class="w-1/2 my-9">
    <h1 class="font-bold text-3xl text-zinc-900">{{ device.manufacturer }} {{ device.model }}</h1>
</div>
<div class="w-1/2 flex flex-row justify-center align-middle items-center mb-9">
    <a href="/devices/update" class="px-5 py-2 font-semibold text-white text-sm rounded bg-sky-600 hover:bg-sky-700">Update Information</a>
    <div class="flex-grow"></div>
    <a href="/devices/delete/{id}" class="px-5 py-2 font-semibold text-white text-sm rounded bg-red-600 hover:bg-red-700">Delete Record</a>
</div>
<div class="w-1/2 border border-zinc-300 rounded-md shadow-md">
    <table class="w-full table-auto">
        <thead>
            <tr>
                <th width="35%"></th>
                <th width="65%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="px-3 py-3 text-md text-center">Manufacturer</td>
                <td class="px-3 py-3 text-md text-center">{{ device.manufacturer }}</td>
            </tr>
            <tr>
                <td class="px-3 py-3 text-md text-center">Model</td>
                <td class="px-3 py-3 text-md text-center">{{ device.model }}</td>
            </tr>
            <tr>
                <td class="px-3 py-3 text-md text-center">Serial Number</td>
                <td class="px-3 py-3 text-md text-center">{{ device.serial_number }}</td>
            </tr>
            <tr>
                <td class="px-3 py-3 text-md text-center">IMEI</td>
                <td class="px-3 py-3 text-md text-center">{{ device.imei}}</td>
            </tr>
            <tr>
                <td class="px-3 py-3 text-md text-center">Owner</td>
                <td class="px-3 py-3 text-md text-center">{{ device.assoc_customer }}</td>
            </tr>
            <tr>
                <td class="px-3 py-3 text-md text-center">Created</td>
                <td class="px-3 py-3 text-md text-center">{{ device.created }}</td>
            </tr>
            <tr>
                <td class="px-3 py-3 text-md text-center">Updated</td>
                <td class="px-3 py-3 text-md text-center">{{ device.updated }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>