<div class="w-full flex flex-col justify-start align-middle items-center px-24">
<div class="w-full my-9">
    <h1 class="font-bold text-3xl text-zinc-900">Devices</h1>
</div>
<div class="flex flex-row justify-center align-middle items-center w-full mb-9">
    <div>
        <form action="/history" action="POST">
            <input type="text" name="search" id="search" placeholder="Search..." class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600">
            <select name="sort" id="sort" class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600">
                <option>Newest First</option>
                <option>Oldest First</option>
            </select>
        </form>
    </div>
    <div class="flex-grow"></div>
    <a href="/devices/create" class="px-5 py-2 font-semibold text-white text-sm rounded bg-sky-600 hover:bg-sky-700">New Device</a>
</div>
<div class="w-full border-x border-zinc-300 shadow-sm">
    <table class="w-full table-auto">
        <thead class="border-y border-zinc-300 bg-zinc-100">
            <tr>
                <th class="px-3 py-3 font-semibold text-md text-zinc-700 text-left">Model</th>
                <th class="px-3 font-semibold text-md text-zinc-700 text-left">Manufacturer</th>
                <th class="px-3 font-semibold text-md text-zinc-700 text-left">Serial Number</th>
                <th class="px-3 font-semibold text-md text-zinc-700 text-left">IMEI</th>
                <th class="px-3 font-semibold text-md text-zinc-700 text-left">Owner</th>
                <th class="px-3 font-semibold text-md text-zinc-700 text-left">Created</th>
                <th class="px-3 font-semibold text-md text-zinc-700 text-left">Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr class="border-b border-zinc-300 bg-white hover:bg-zinc-100">
                <td class="py-3"><a href="/devices/{{ device.id }}" class="w-full px-3 py-1.5 text-sm hover:text-sky-600">{{ device.model }}</a></td>
                <td class="px-3 text-sm ">{{ device.manufacturer }}</td>
                <td class="px-3 text-sm ">{{ device.serial_number }}</td>
                <td class="px-3 text-sm ">{{ device.imei }}</td>
                <td class="px-3 text-sm ">{{ device.assigned_customer }}</td>
                <td class="px-3 text-sm ">{{ device.created }}</td>
                <td class="px-3 text-sm ">{{ device.updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>