<div class="flex flex-col justify-start align-middle items-center px-24">
<div class="w-full my-9">
    <h1 class="font-bold text-3xl text-zinc-900">Dashboard</h1>
</div>
<div class="w-full flex flex-row justify-evenly align-middle items-center px-7 py-5 border border-red-500">
    <div class="px-5 py-3 text-center border border-zinc-300 shadow-md bg-white">
        <h1 class="font-bold text-xl text-sky-600">Open Tickets</h1>
        <p class="font-semibold text-2xl text-zinc-900">
            1
        </p>
    </div>
</div>
</div>