<table class="w-full table-auto">
    <thead>
        {% for header in table.headers %}
            <th class="px-4 py-3 text-left text-sm text-stone-600 font-bold border-y border-black bg-stone-100">{{ header }}</th>
        {% endfor %}
    </thead>
    <tbody class="divide-y divide-black">
        {% for key, item in table.rows %}
        <tr class="hover:bg-sky-50">
            <td class="px-4 py-5 text-stone-700 text-sm border-collapse"><a class="hover:underline hover:text-sky-600" href="{{ controller.base_url }}/view/{{ key }}">{{ item[0] }}</a></td>
            {% for key, value in item[1] %}
                <td class="px-4 py-5 text-stone-700 text-sm border-collapse">{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>