{% extends "base.html.twig" %}

{% block errors %}
    {% include "/errors/modal.html.twig" %}
{% endblock %}

{% block content %}
<div class="h-full row-span-full col-start-0 col-span-6 flex flex-col justify-center align-middle items-center bg-white">
    <div class="w-full my-4 px-32 text-left">
        <div class="mb-12">
            <h3 class="mb-8 font-bold text-2xl text-stone-900">RSMS</h3>
            <h1 class="font-bold text-3xl text-stone-900">Welcome back!</h1>
            <h2 class="text-sm text-stone-700">Sign in to continue.</h2>
        </div>
        <form method="POST" class="w-96">
            <label for="email" class="text-sm text-stone-700">Email Address</label>
            <input type="text" name="email" id="email" class="form-input mt-2 mb-4 w-full text-sm rounded-lg border-stone-300 focus:border-sky-600 hover:shadow-md focus:shadow-md focus:ring-transparent transition ease-in-out duration-250">
            <label for="password" class="text-sm text-stone-700">Password</label>
            <input type="password" name="password" id="password" class="form-input mt-2 mb-4 w-full text-sm rounded-lg border-stone-300 focus:border-sky-600 hover:shadow-md focus:shadow-md focus:ring-transparent transition ease-in-out duration-250">

            <input type="submit" value="Sign in" class="form-input mt-4 px-6 py-2 font-medium text-sm text-white rounded-lg border-none bg-stone-900 hover:bg-stone-700 hover:shadow-md focus:shadow-md transition ease-in-out duration-250">
        </form>
    </div>
    <div class="h-32"></div>
</div>

<div class="h-full row-span-full col-span-6 bg-[url('/assets/pattern2.png')] bg-origin-content bg-contain"></div>
{% endblock %}