<div class="pt-16 row-span-full col-span-full flex flex-col justify-start align-middle items-center">

    <h2 class="mb-6 font-bold italic text-3xl text-violet-500">RSMS</h2>
    <h1 class="mb-2 font-bold text-4xl text-stone-900">Sign in to continue</h1>
    <h3 class="mb-12 font-bold text-lg text-stone-600">Or <a href="#" class="text-violet-500 hover:underline">request an account</a></h3>

    <div class="px-16 py-12 box-shadow-black border border-black bg-white">
        <form method="POST">
            <label for="email" class="text-md text-stone-900">Email Address</label><br>
            <input type="text" name="email" id="email" class="form-input mt-2 mb-6 text-sm text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
            <label for="email" class="text-md text-stone-900">Password</label><br>
            <input type="password" name="password" id="password" class="form-input mt-2 mb-10 text-sm text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
            
            <input type="submit" value="Sign in" class="w-full py-1.5 font-semibold text-white bg-violet-500 hover:bg-violet-700">
        </form>
    </div>
</div>