<div class="px-4 py-2">
    <div class="mb-4 border border-black bg-white box-shadow-black">
        <div class="col-span-4 p-2 font-bold text-stone-600 border-b border-black bg-stone-200">
            <h3>Device Information</h3>
        </div>
        <div class="w-full">
            <table class="w-full my-2 table-auto">
                <thead>
                    <th class="w-64"></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 font-bold">Manufacturer:</td>
                        <td>{{ record.manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 font-bold">Model:</td>
                        <td>{{ record.model }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 font-bold">Serial Number:</td>
                        <td>{{ record.serial }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 font-bold">IMEI:</td>
                        <td>{{ record.imei }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-4 border border-black bg-white box-shadow-black">
        <div class="col-span-4 p-2 font-bold text-stone-600 border-b border-black bg-stone-200">
            <h3>Registered Owner</h3>
        </div>
        <div class="w-full">
            <table class="w-full my-2 table-auto">
                <thead>
                    <th class="w-64"></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 font-bold">Name: </td>
                        <td>{{ record.owner.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-4 border border-black bg-white box-shadow-black">
        <div class="col-span-4 p-2 font-bold text-stone-600 border-b border-black bg-stone-200">
            <h3>Ticket</h3>
        </div>
        <div class="w-full">
            <table class="w-full my-2 table-auto">
                <thead>
                    <th class="w-64"></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 font-bold">ID: </td>
                        <td>{{ record.ticket.id }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 font-bold">Subject:</td>
                        <td>{{ record.ticket.subject }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>