# Environment Variable Files
app.env

# Permanent application storage
!/app/qrcodes/.gitkeep
/app/qrcodes/*

# Temporary application storage
!/var/cache/.gitkeep
/var/cache/*
!/var/log/.gitkeep
/var/log*

# Managed by Composer
/vendor/

# Managed by NPM
/node_modules/