<div class="w-full flex flex-col justify-start items-center">

    <div class="w-full py-4 flex flex-row justify-between align-middle items-center">

        <div class="h-full w-1/2 px-6 inline-flex flex-row justify-start items-center space-x-4">
            <button hx-get="{{ globals.base_url }}/{{ page.context.name }}s/new" hx-target="body" hx-swap="beforeend" class="h-full px-6 py-2 font-title font-medium text-sm text-white rounded-sm bg-green-500 hover:bg-green-300">New {{ page.context.Name }}</button>
            
            <input type="search" 
                name="search" placeholder="Search {{ page.context.name }}..." 
                hx-post="{{ globals.base_url }}/{{ page.context.name }}s/search/table"
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#results"
                hx-swap="outerHTML"
                class="form-input w-1/2 h-full py-2 text-xs text-white placeholder:text-stone-500 rounded-sm border-stone-500 focus:border-green-500 bg-transparent focus:ring-green-500 transition ease-in-out duration-100">

        </div>
        
        <div class="px-6">
            <h3 class="font-title font-medium text-md text-white">Showing 00 of 00</h3>
        </div>

    </div>

    <table id="results" class="table-auto w-full text-white">
        <thead class="text-left border-y border-stone-500 bg-stone-700">
            <tr>
                {% for col in table.cols %}
                    <th class="px-6 py-1.5 font-title font-medium text-sm text-white">{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="divide-y divide-stone-700 border-b border-stone-700">
        {% for row in table.rows %}
            <tr class="text-white bg-stone-900 hover:bg-stone-800 transition ease-in-out duration-100">
                {% for key, data in row %}
                {% if data is iterable %}
                    <td class="px-6 py-4 font-medium text-sm hover:underline">
                        <a href="{{ data.link }}" class="inline-flex flex-row items-center text-green-300">
                            <svg class="mr-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#86efac" viewBox="0 0 256 256"><path d="M184,80V208a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V80a8,8,0,0,1,8-8H176A8,8,0,0,1,184,80Z" opacity="0.2"></path><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
                            {{ data.text }}
                        </a>
                    </td>
                {% else %}

                    <td class="px-6 py-2 font-medium text-sm">{{ data }}</td>
            
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>