{% extends "/frags/creators/base.html" %}

{% block tabs %}
    <button class="w-full mx-2 py-2 font-semibold text-center text-sm text-sky-600 border border-sky-600 bg-sky-50">Ticket Details</button>
	<button class="w-full mx-2 py-2 text-center text-sm border border-black/50 text-black/50">Assign a Customer</button>
	<button class="w-full mx-2 py-2 text-center text-sm border border-black/50 text-black/50">Assign a Device</button>
{% endblock %}

{% block form %}
    {% if creator.state is same as 0 %}
        {% include "/frags/creators/ticket/details.html" %}
    {% endif %}
    {% if creator.state is same as 1 %}
        {% include "/frags/creators/ticket/assign_customer.html" %}
    {% endif %}
{% endblock %}