<form>
	<label for="first_name" class="font-semibold text-xs text-sky-600">First Name</label><br>
	<input required type=text" name="first_name" id="first_name" class="form-input w-full mt-2 mb-4 text-sm border-black focus:ring-sky-600 focus:border-sky-600"><br>
	<label for="last_name" class="font-semibold text-xs text-sky-600">Last Name</label><br>
	<input required type="text" name="last_name" id="last_name" class="form-input w-full mt-2 mb-4 text-sm border-black focus:ring-sky-600 focus:border-sky-600"><br>
    <label for="email" class="font-semibold text-xs text-sky-600">Email</label><br>
	<input required type="text" name="email" id="email" class="form-input w-full mt-2 mb-4 text-sm border-black focus:ring-sky-600 focus:border-sky-600"><br>
    <label for="mobile" class="font-semibold text-xs text-sky-600">Mobile</label><br>
	<input required type="text" name="email" id="email" class="form-input w-full mt-2 mb-4 text-sm border-black focus:ring-sky-600 focus:border-sky-600"><br>
</form>