@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --min-font-size: 12px;
    --font-size: 16px;
    --ratio: 4px;
    --ratio-large: 6px;
    --line-height: 1.5;
    --font-family: 'Inter';
    font-family: var(--font-family);
    line-height: var(--line-height);

    --h6: max(var(--min-font-size), var(--font-size) - var(--ratio));
    --h5: calc(var(--h6) + var(--ratio));
    --h4: calc(var(--h5) + var(--ratio));
    --h3: calc(var(--h4) + var(--ratio));
    --h2: calc(var(--h3) + var(--ratio));
    --h1: calc(var(--h2) + var(--ratio));
}

@media screen and (min-width: 960px) {
    :root {
        --ratio: var(--ratio-large);
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    letter-spacing: -0.0125em;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-size: var(--h5);
    margin: 0 0 1.5rem;
}