DOCKER_CONTENT_TRUST=1
ALLOW_EMPTY_PASSWORDS=no
POSTGRESQL_DATABASE=mydatabase
POSTGRESQL_USERNAME=myuser
POSTGRESQL_PASSWORD=password
POSTGRESQL_TIMEZONE=Europe/London
POSTGRESQL_LOG_TIMEZONE=Europe/London