<div class="w-full px-12">
    <form method="POST" action="{{ globals.base_url }}/customers/create" enctype="multipart/form-data" class="w-full flex flex-col justify-center align-middle items-start box-shadow-black border border-black bg-white">

    <div class="w-full flex flex-row justify-center align-middle items-start">
        <div class="w-2/3 mr-24">        
            <div class="px-6 py-4">
                <h3 class="mb-2 font-semibold text-sm text-black">Basic Information</h3>
    
                <label for="first_name" class="text-sm text-stone-900">First Name</label><br>
                <input required id="first_name" name="first_name" class="form-input w-1/3 mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
                <label for="last_name" class="text-sm text-stone-900">Last Name</label><br>
                <input id="last_name" name="last_name" class="form-input w-1/3 mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
                <label required for="email" class="text-sm text-stone-900">Email Address</label><br>
                <input id="email" name="email" class="form-input w-full mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
                <label required for="mobile" class="text-sm text-stone-900">Mobile Number</label><br>
                <input id="mobile" name="mobile" class="form-input w-1/3 mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
            </div>
        </div>
    
        <div class="w-1/3">        
            <div class="px-6 py-4">
                <h3 class="mb-2 font-semibold text-sm text-black">Customer's Address</h3>
    
                <label for="address_ln1" class="text-sm text-stone-900">Line 1</label><br>
                <input id="address_ln1" name="address_ln1" class="form-input w-full mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
                <label for="address_ln2" class="text-sm text-stone-900">Line 2</label><br>
                <input id="address_ln2" name="address_ln2" class="form-input w-full mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
                <label for="address_county" class="text-sm text-stone-900">County</label><br>
                <input id="address_county" name="address_county" class="form-input w-full mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
                <label for="address_town" class="text-sm text-stone-900">Town/City</label><br>
                <input id="address_town" name="address_town" class="form-input w-full mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
                <label for="address_postcode" class="text-sm text-stone-900">Postcode</label><br>
                <input id="address_postcode" name="address_postcode" class="form-input w-full mt-2 mb-4 text-md text-stone-900 border border-black bg-white focus:ring-violet-500 focus:border-violet-500"><br>
            </div>
        </div>
    </div>

    <div class="w-full px-6 py-4 flex flex-row justify-center align-middle items-start">
        <div class="flex-grow"></div>
        <a href="#" class="mr-4 px-4 py-2 text-sm text-black hover:text-red-700 box-shadow-black border border-black bg-red-300 hover:bg-red-100">Cancel</a>
        <input type="submit" value="Create Customer" class="px-4 py-2 text-sm text-black hover:text-lime-700 box-shadow-black border border-black bg-lime-300 hover:bg-lime-100">
    </div>

    </form>
</div>