<div class="row-span-full col-start-3 col-span-10 flex flex-col justify-start align-middle items-start">

    <div class="w-full mb-6 px-6 py-8 flex flex-col justify-center align-middle items-center bg-violet-500">
        <div class="w-full flex flex-row justify-between align-middle items-center">
            <h2 class="font-bold text-3xl text-white">New {{ page.context.Name }}</h2>
            <div class="flex-grow"></div>
        </div>
    </div>

    <div hx-get="{{ globals.base_url }}/{{ page.context.name }}s/get/creator" hx-trigger="load" hx-swap="outerHTML" class="w-full">
        <!-- Load result using HTMX -->
        
    </div>
</div>