<div class="w-full px-6 py-2">

    <div class="mb-8 box-shadow-black border border-black bg-white">
        <div class="px-4 py-2 border-b border-black bg-violet-500">
            <h4 class="font-bold text-sm text-white">Details</h4>
        </div>

        <div class="w-full px-4 py-4">
            <table class="table-auto">
                <thead>
                    <th class="w-1/3 hidden"></th>
                    <th class="w-2/3 hidden"></th>
                </thead>
                <tbody>
                    {% for key, data in device %}
                        <tr>
                            <td class="font-bold pr-8 py-1.5">{{ key }}</td>
                            <td>{{ data }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>