<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ css_path }}/fonts.css">
    <link type="text/css" rel="stylesheet" href="{{ css_path }}/auth/desktop.css">
    <title>{{ title }}</title>
</head>
<body style="background-image: url('{{ assets_path }}/haitham-dTPYY9Gwo-E-unsplash.jpg');">
    <div class="container">
        <div class="login-container">
            <h1>zenrepair</h1>
            <form class="login-form" name="auth-login" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="email" name="email"><br>
                <input type="password" placeholder="password" name="password"><br>
                <input type="submit">
            </form>
        </div>
    </div>
    <div class="footer">
        <p>
            Written by Benjamin Moss.
        </p>
    </div>
</body>
</html>