{% extends "main_layout.html" %}

{% block sidebar %}
    <a href="#"><img src="{{ assets_path }}/icons/ticket.svg"><p>Ticket #1000</p><img src="{{ assets_path }}/icons/question-mark-circle.svg"></a>
    <a href="#"><img src="{{ assets_path }}/icons/ticket.svg"><p>Ticket #1001</p><img src="{{ assets_path }}/icons/exclamation-circle.svg"></a>
{% endblock %}