<header class="row-start-2 row-end-3 col-start-1 col-span-full flex flex-col justify-center align-middle items-center border-b border-stone-700 bg-stone-900">
    
    <div class="w-full h-36 flex flex-row justify-between items-center">

        <div class="px-6 inline-flex flex-col justify-center items-start space-y-4">

            <a href="{{ globals.base_url }}/workshop/view/{{ page.context.name }}" class="px-2 py font-title font-medium text-xs text-white hover:text-stone-300 rounded-sm border border-white hover:border-stone-300">Back</a>

            <h2 class="font-title font-semibold text-4xl text-white">{{ page.record.display_name }}</h2>

        </div>

        <div class="w-1/3 px-6 flex flex-row justify-end items-center">
            
            <button
                hx-delete="{{ globals.base_url }}/tickets/delete/{{ page.record.id }}"
                hx-trigger="click"
                class="px-4 py-1.5 font-title font-medium text-sm text-white hover:text-red-500 rounded-sm border border-white hover:border-red-500">Delete</button>

        </div>

    </div>

</header>

<sidebar class="row-start-3 row-span-full col-start-1 col-span-3 px-6 pt-6 flex flex-col justify-start items-center space-y-6">

    <div class="w-full shadow-sm rounded-sm border border-stone-700 bg-stone-900">

        <div class="w-full px-6 py-2 border-b border-stone-700 bg-stone-700">
            <h4 class="font-title font-medium text-sm text-stone-300">Ticket Details</h4>
        </div>
        
        <div class="w-full px-6 py-4">
            
            <table class="table-auto w-full text-sm text-white">
                <thead>
                    <th class="w-1/3"></th>
                    <th class="w-2/3"></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2 font-semibold">Status</td>
                        {% if ticket.status == 0 %}
                            <td><span class="px-4 py-1 font-title font-medium text-xs text-white rounded-full border border-white">New</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="py-2 font-semibold">Issue Type</td>
                        <td>{{ ticket.issueType }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="w-full shadow-sm rounded-sm border border-stone-700 bg-stone-900">

        <div class="w-full px-6 py-2 border-b border-stone-700 bg-stone-700">
            <h4 class="font-title font-medium text-sm text-stone-300">Customer Details</h4>
        </div>
        
        <div class="w-full px-6 py-4">
            
            <table class="table-auto w-full text-sm text-white">
                <thead>
                    <th class="w-1/3"></th>
                    <th class="w-2/3"></th>
                </thead>
                <tbody>
                    {% for key, value in customer.details %}
                        <tr>
                            <td class="py-2 font-semibold">{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</sidebar>

<content class="row-start-3 row-span-full col-start-4 col-span-full px-6 pt-6 flex flex-col justify-start items-center space-y-4">

    <div class="w-full shadow-sm rounded-sm border border-stone-700 bg-stone-900">

        <div class="w-full px-6 py-2 border-b border-stone-700 bg-stone-700">
            <h4 class="font-title font-medium text-sm text-stone-300">Labour Log</h4>
        </div>
        
        <div class="w-full">
            
            

        </div>

    </div>

    <div class="w-full shadow-sm rounded-sm border border-stone-700 bg-stone-900">

        <div class="w-full px-6 py-2 flex flex-row justify-between items-center border-b border-stone-700 bg-stone-700">
            <h4 class="font-title font-medium text-sm text-stone-300">Notes</h4>

            <button
                id="notes_button"
                _="on click toggle .hidden on #notes_table then toggle .hidden on #notes_create then toggle .hidden on me"
                class="px-4 py font-title font-medium text-xs text-white hover:text-green-500 rounded-sm border border-white hover:border-green-500">New Note</button>
        </div>

        <div id="notes_create" class="hidden w-full">

            <form id="notes_creator" class="w-full p-6">
                <h4 class="mb-6 font-title font-semibold text-lg text-white">Create a new Note</h4>

                <label for="note_title" class="font-semibold text-xs text-white">Title</label><br>
                <input required type="text" name="note_title" id="note_title" class="form-input w-full my-2 mb-4 text-sm text-white rounded-sm border-stone-500 bg-transparent focus:border-green-500 focus:ring-green-500"><br>
                <label for="note_content" class="font-semibold text-xs text-white">Content</label><br>
                <input type="text" name="note_content" id="note_content" class="form-input w-full my-2 mb-4 text-sm text-white rounded-sm border-stone-500 bg-transparent focus:border-green-500 focus:ring-green-500"><br>
                
                <input type="text" name="note_ticket" id="note_ticket" value="{{ page.record.id }}" class="hidden">
                <input type="text" name="note_author" id="note_author" value="{{ user.id }}" class="hidden">

                <div class="flex flex-row justify-start items-center space-x-6">
                    <button _="on click toggle .hidden on #notes_table then toggle .hidden on #notes_create then toggle .hidden on #notes_button" hx-post="{{ globals.base_url }}/notes/create" hx-include="#notes_creator" hx-swap="none" class="px-6 py-2 text-xs text-white rounded-sm bg-green-500 hover:bg-green-500">Create</button>
            
                    <button _="on click toggle .hidden on #notes_table then toggle .hidden on #notes_create then toggle .hidden on #notes_button" class="px-6 py-2 text-xs text-red-500 hover:text-red-300 rounded-sm border border-red-500 hover:border-red-300 bg-transparent hover:bg-red-100/30">Cancel</button>
                </div>
            </form>

        </div>
            
        <div id="notes_table" class="w-full flex flex-col justify-start items-center">

            {% for note in notes %}

                <div class="w-full px-6 py-4 border-b border-stone-700">

                    <div class="w-full py-2 inline-flex flex-row justify-center align-middle items-center">
                        <h4 class="mr-4 font-semibold text-md text-white">{{ note.title }}</h4>
                        <h5 class="font-medium text-sm text-stone-500">{{ note.created }}</h5>

                        <div class="flex-grow"></div>

                        <button
                        hx-delete="{{ globals.base_url }}/notes/delete/{{ note.id }}"
                        hx-trigger="click"
                        class="px-4 py font-title font-medium text-xs text-stone-500 hover:text-red-500 rounded-sm border border-stone-500 hover:border-red-500">Delete</button>

                    </div>
                    <p class="text-sm text-white">{{ note.content }}</p>

                </div>

            {% endfor %}

        </div>

    </div>

</content>