<div class="row-start-2 row-span-full col-start-1 md:col-start-4 col-span-full md:col-span-4 md:px-12 md:py-24 flex flex-col justify-start md:justify-center align-middle items-left space-y-6 rounded-sm md:border md:border-stone-700 bg-transparent md:bg-stone-900">

    <div class="w-full flex flex-col justify-center items-left py-6">
        <h1 class="mb-6 font-title font-semibold text-3xl text-white">Log in to continue</h1>
    </div>

    <div class="w-full">
        <form id="customer_auth" class="w-full md:w-96">
                        
            <label for="email" class="font-medium text-sm text-white">Email Address</label><br>
            <input required type="text" name="email" id="email" class="form-input w-full my-2 mb-4 py-2 text-sm text-white rounded-sm border-2 border-white bg-transparent hover:border-blue-500 focus:border-blue-500 focus:ring-transparent"><br>
        
            <label for="access_code" class="font-medium text-sm text-white">Access Code</label><br>
            <input required type="text" name="access_code" id="access_code" class="form-input w-full my-2 mb-4 py-2 text-sm text-white rounded-sm border-2 border-white bg-transparent hover:border-blue-500 focus:border-blue-500 focus:ring-transparent"><br>
            <div id="ac_tooltip" class="mb-6">
                <div class="w-full my-6 flex flex-row justify-start items-center space-x-2 md:space-x-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256"><path d="M224,128a96,96,0,1,1-96-96A96,96,0,0,1,224,128Z" opacity="0.2"></path><path d="M140,180a12,12,0,1,1-12-12A12,12,0,0,1,140,180ZM128,72c-22.06,0-40,16.15-40,36v4a8,8,0,0,0,16,0v-4c0-11,10.77-20,24-20s24,9,24,20-10.77,20-24,20a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-.72c18.24-3.35,32-17.9,32-35.28C168,88.15,150.06,72,128,72Zm104,56A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"></path></svg>
                    <p  class="text-sm md:text-md text-white">
                        Not sure what your access code is?
                    </p>
                </div>
                <p  class="text-xs text-white">
                    Your access code is an 8 digit code that the repair shop provided to you when your customer account was created. If you're still not sure what this means, contact your repair shop for more information.
                </p>
            </div>
        
            <button id="customer" hx-post="{{ globals.base_url }}/login" hx-trigger="click" hx-include="#customer_auth" class="w-full mt-4 py-2 font-title font-medium text-lg text-white rounded-sm bg-blue-500 hover:bg-blue-300">Continue</button>
        
        </form>
    </div>
</div>