<div class="row-start-2 row-span-full col-start-1 md:col-start-4 col-span-full md:col-span-4 md:px-12 md:py-24 flex flex-col justify-center align-middle items-left space-y-6 rounded-sm border border-stone-700 bg-stone-900">

    <div class="w-full py-6">
        <h1 class="font-title font-semibold text-3xl text-white">Log in to continue</h1>
    </div>

    <div class="">
        <form id="user_auth" class="w-96">
                        
            <label for="email" class="font-medium text-sm text-white">Email Address</label><br>
            <input type="text" name="email" id="email" class="form-input w-full my-2 mb-4 py-2 text-sm text-white rounded-sm border-2 border-white bg-transparent hover:border-green-500 focus:border-green-500 focus:ring-transparent"><br>
        
            <label for="password" class="font-medium text-sm text-white">Password</label><br>
            <input type="password" name="password" id="password" class="form-input w-full my-2 mb-12 py-2 text-sm text-white rounded-sm border-2 border-white bg-transparent hover:border-green-500 focus:border-green-500 focus:ring-transparent"><br>
        
            <button id="user" hx-post="{{ globals.base_url }}/login" hx-trigger="click" hx-include="#user_auth" class="w-full mt-4 py-2 font-title font-medium text-lg text-black rounded-sm bg-green-500 hover:bg-green-300">Continue</button>
        
        </form>
    </div>
</div>