<div class="row-start-2 row-end-2 col-start-3 2xl:col-start-2 col-end-13 px-6 flex flex-row items-center">
    <h2 class="font-semibold text-2xl text-stone-900">{{ page.context.Name }}s</h2> 
</div>

<div class="row-start-3 row-end-3 col-start-3 2xl:col-start-2 col-end-13 px-6 flex flex-row justify-start align-middle items-center space-x-4">
    
    <a href="{{ globals.base_url }}/workshop/create/{{ page.context.name }}" class="btn-primary">New {{ page.context.Name }}</a>

</div>

<div class="row-start-4 row-end-6 col-start-3 2xl:col-start-2 col-end-13 px-6 py-4 flex flex-col justify-start align-middle items-start">

    <div class="w-full flex flex-row justify-center align-middle items-start">

        <div class="flex-grow"></div>

        {% if page.stats|length > 0 %}
            {% for name, value in page.stats %}
            <div class="mr-4 px-4 py-2 flex flex-col bg-black">
                <h3 class="mb-2 font-bold text-3xl text-white">00</h3>
                <h3 class="text-sm text-white">In progress</h3>
            </div>
            {% endfor %}
        {% endif %}

    </div>

    <div class="w-full">
        <div id="main-table" hx-get="{{ globals.base_url }}/{{ page.context.name }}s/get" hx-swap="outerHTML" hx-trigger="load">
            <!-- Load table fragment with HTMX -->
    
        </div>
    </div>

</div>