<!-- Cancel Modal -->
<div id="modal-cancel" _="on closeModal toggle .hidden on me" class="hidden absolute top-0 left-0 z-50 flex flex-col justify-start align-middle items-center h-full w-full">
    <div _="on click trigger closeModal" class="absolute top-0 left-0 -z-10 h-full w-full bg-black/50"></div>
    <div class="h-24"></div>
    <div class="w-1/4 shadow-sm rounded-md border border-stone-300 bg-white">
        <div class="px-4 py-2 flex flex-row justify-start items-center text-stone-700 rounded-tl-md rounded-tr-md border-b border-stone-300 bg-gradient-to-r from-stone-200 to-stone-100">
            <img src="{{ globals.icons_url }}/png/question-duotone.png" class="mr-4 h-5">
            <h2 class="font-medium text-xs">Confirm Action</h2>
        </div>

        <div class="w-full p-6">
            <p class="text-sm text-stone-700">
                Are you sure you want to delete {{ page.record.display_name }}?
            </p>
        </div>

        <div class="px-4 py-1.5 flex flex-row justify-center items-center text-stone-500">
            <button hx-delete="{{ globals.base_url }}/{{ page.context.name }}s/delete/{{ page.record.id }}" hx-swap="none" hx-redirect="{{ globals.base_url }}/workshop/{{ page.context.name }}s" hx-trigger="click" class="mr-4 px-4 py-2 inline-flex flex-row items-center font-medium text-sm text-red-500 hover:text-red-700 rounded-md hover:bg-red-200">
                <img src="{{ globals.icons_url }}/png/trash-duotone.png" class="mr-4 h-5">
                Delete
            </button>
            <button _="on click trigger closeModal" class="mr-4 px-4 py-2 inline-flex flex-row items-center font-medium text-sm text-stone-500 hover:text-stone-700 rounded-md hover:bg-stone-200">
                <img src="{{ globals.icons_url }}/png/x-duotone.png" class="mr-4 h-5">
                Cancel
            </button>
        </div>
    </div>
</div>

<!-- Main Content Area -->
<div class="row-start-0 row-span-1 col-start-2 col-end-13 px-4 flex flex-row justify-center align-middle items-center">

    <button _="on click go back" class="mr-4 px-4 py-2 inline-flex flex-row items-center font-medium text-sm text-stone-500 hover:text-stone-700 rounded-md hover:bg-stone-200">
        <svg class="mr-4 h-5 w-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
        </svg>
        Back
    </button>

    <h2 class="font-semibold text-xl text-stone-700">{{ page.record.display_name }}</h2>

    <div class="flex-grow"></div>

    <button _="on click toggle .hidden on #modal-cancel" class="mr-4 px-4 py-2 inline-flex flex-row items-center font-medium text-xs text-stone-500 hover:text-red-500 rounded-md border border-stone-500 hover:border-red-500 bg-stone-100 hover:bg-red-200">
        <img src="{{ globals.icons_url }}/png/trash-duotone.png" class="h-4 mr-4 opacity-70 hover:opacity-90">
        Delete
    </button>
</div>

<div class="row-start-2 row-span-4 col-start-2 col-end-13 pl-6 pr-4 py-2 flex flex-col justify-start align-middle items-start">

    <div hx-get="{{ globals.base_url }}/{{ page.context.name }}s/get/{{ page.record.id }}" hx-swap="outerHTML" hx-trigger="load">
        <!-- Load table fragment with HTMX -->
        
    </div>

</div>