<!DOCTYPE html>
<html lang="en">
<head>
    <meta author="Benjamin Moss">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Space Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  

    <!-- Tailwind CSS -->
    <link rel="stylesheet" type="text/css" href="{{ css_url }}/output.css">

    <script src="https://unpkg.com/phosphor-icons"></script>

    <title>{{ title }}</title>
</head>