{% if errors|length > 0 %}

<!-- Errors Modal -->
<div id="modal-errors" _="on closeModal remove me" class="absolute top-0 left-0 z-50 flex flex-col justify-start align-middle items-center h-full w-full">
    <div _="on click trigger closeModal" class="absolute top-0 left-0 -z-10 h-full w-full bg-black/50"></div>
    <div class="h-24"></div>
    <div class="w-1/3 shadow-sm rounded-md border border-red-300 bg-white">
        <div class="px-4 py-2 flex flex-row justify-start items-center rounded-tl-md rounded-tr-md text-red-700 border-b border-red-300 bg-red-200">
            <svg class="mr-4 h-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91c1c" viewBox="0 0 256 256"><path d="M215.46,216H40.54C27.92,216,20,202.79,26.13,192.09L113.59,40.22c6.3-11,22.52-11,28.82,0l87.46,151.87C236,202.79,228.08,216,215.46,216Z" opacity="0.2"></path><path d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z"></path></svg>

            <h2 class="font-medium text-xs">Error</h2>
        </div>

        <div class="px-8 py-2">
        {% for fields in errors %}
            {% for key, message in fields %}
                <ul class="list-disc text-sm text-stone-700">
                    <li class="py-1.5">{{ message }}</li>
                </ul>
            {% endfor %}
        {% endfor %}
        </div>

        <div class="px-4 py-1.5 flex flex-row justify-center items-center text-stone-500">
            <button _="on click trigger closeModal" hx-delete="{{ globals.base_url }}/errors/clear" hx-trigger="click" hx-swap="none" class="btn-primary-icon bg-stone-500 hover:bg-stone-700">
                <svg class="mr-4 h-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M224,128a96,96,0,1,1-96-96A96,96,0,0,1,224,128Z" opacity="0.2"></path><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"></path></svg>
                Ok
            </button>
        </div>
    </div>
</div>
{% endif %}