<div id="main-table" class="w-full shadow-sm border border-stone-300 bg-white">
<table class="w-full table-auto">
    <thead class="text-left border-b border-stone-300 bg-stone-200">
        {% for key, col in table.cols.headers %}
            <th class="px-4 py-2 font-medium text-xs text-stone-700">{{ col }}</th>
        {% endfor %}
    </thead>
    <tbody class="divide-y divide-stone-300">
    {% for item in table.rows %}
        <tr class="hover:bg-stone-100 transition ease-in-out duration-100">
        {% for key, row in item %}
            {% if row is iterable %}
                <td class="px-4 py-4 font-medium text-sm hover:underline">
                    <a href="{{ row.link }}" class="inline-flex flex-row items-center text-green-500">
                        <svg class="mr-4 h-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#22c55e" viewBox="0 0 256 256"><path d="M184,80V208a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V80a8,8,0,0,1,8-8H176A8,8,0,0,1,184,80Z" opacity="0.2"></path><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
                        {{ row.text }}
                    </a>
                </td>
            {% else %}
                <td class="px-4 py-2 font-medium text-sm">{{ row }}</td>
            
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>