<table class="table-auto w-full border-b border-stone-500 bg-stone-700">
    <thead class="text-left bg-stone-500">
        {% for col in table.cols %}
            <th class="px-4 py-3 font-semibold text-xs text-stone-100">{{ col }}</th>
        {% endfor %}
    </thead>

    <tbody class="divide-y divide-stone-500">
        {% for row in table.rows %}
        <tr class="">
            {% for key, value in row %}
                {% if value is iterable %}
                    <td class="text-xs text-white">
                        <a href="{{ value.link }}" class="w-full px-4 py-3 inline-flex flex-row justify-start items-center space-x-4 font-medium text-xs text-white hover:text-sky-500 hover:underline hover:bg-stone-600">

                            <svg class="h-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M184,80V208a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V80a8,8,0,0,1,8-8H176A8,8,0,0,1,184,80Z" opacity="0.2"></path><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
                            <span>{{ value.text }}</span>
                            
                        </a>
                    </td>
                {% else %}
                    <td class="px-4 py-3 text-xs text-white">{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr> 
        {% endfor %}        
    </tbody>
</table>