<div class="flex flex-col justify-start align-middle items-center mx-48">
<div class="w-full my-9">
    <h1 class="font-bold text-3xl">Customers</h1>
</div>
<div class="w-full border border-slate-700 rounded-md shadow-md">
    <table class="w-full table-auto">
        <thead class="border-b border-gray-300 bg-gray-200">
            <tr>
                <th width="5%" class="px-3 py-1 font-semibold text-md text-center">#</th>
                <th width="12.5%" class="px-3 font-semibold text-md text-left">Received</th>
                <th width="10%" class="px-3 font-semibold text-md text-left">Switch 0</th>
                <th width="10%" class="px-3 font-semibold text-md text-left">Switch 1</th>
                <th width="10%" class="px-3 font-semibold text-md text-left">Switch 2</th>
                <th width="10%" class="px-3 font-semibold text-md text-left">Switch 3</th>
                <th width="10%" class="px-3 font-semibold text-md text-left">Fan</th>
                <th width="10%" class="px-3 font-semibold text-md text-left">Heater</th>
                <th width="10%" class="px-3 font-semibold text-md text-left">Keypad</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td class="px-3 py-3 text-sm text-center border-b border-gray-300">{{ message.id }}</td>
                <td class="px-3 py-3 text-sm border-b border-gray-300">{{ message.datetime_received }}</td>
                <td class="px-3 text-sm border-b border-gray-300">{{ message.switch_1_state }}</td>
                <td class="px-3 text-sm border-b border-gray-300">{{ message.switch_2_state }}</td>
                <td class="px-3 text-sm border-b border-gray-300">{{ message.switch_3_state }}</td>
                <td class="px-3 text-sm border-b border-gray-300">{{ message.switch_4_state }}</td>
                <td class="px-3 text-sm border-b border-gray-300">{{ message.fan_direction }}</td>
                <td class="px-3 text-sm border-b border-gray-300">{{ message.temperature }}</td>
                <td class="px-3 text-sm border-b border-gray-300">{{ message.keypad_last_number_entered }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>