{% extends "/frags/creator/base.html" %}

{% block tabs %}
    <button href="#" class="w-full py-2 font-semibold text-center text-sm text-slate-600 border-b border-slate-600 bg-stone-100">Customer Details</button>
	<button href="#" class="w-full py-2 font-semibold text-center text-sm text-slate-500 border-b border-stone-200">Assign a Device</button>
{% endblock %}

{% block form %}
    {% include "/frags/creator/customer/details.html" %}
{% endblock %}