{% extends "/frags/creator/base.html" %}

{% block tabs %}
    <button href="#" class="w-full py-2 font-semibold text-center text-sm text-sky-600 border-b-2 border-sky-600 bg-sky-50">Customer Details</button>
	<button href="#" class="w-full py-2 font-semibold text-center text-sm text-sky-500/50 border-b border-stone-200">Assign a Device</button>
{% endblock %}

{% block form %}
    {% include "/frags/creator/customer/details.html" %}
{% endblock %}