<header class="row-start-2 row-end-3 col-start-1 col-span-full flex flex-col justify-center align-middle items-center bg-stone-900">

    <div class="w-full h-36 px-6 flex flex-row justify-between items-center">

        <h2 class="font-title font-semibold text-4xl text-white">{{ page.context.Name }}s</h2>

        <div class="h-full py-4 inline-flex flex-row justify-center items-center space-x-6">
            <div class="h-full px-12 inline-flex flex-col justify-center align-center items-start rounded-md border border-white">
                <h5 class="font-title font-medium text-sm text-white">Metric 0</h5>
                <h6 class="font-title font-medium text-5xl text-white">000</h6>
            </div>

            <div class="h-full px-12 inline-flex flex-col justify-center align-center items-start rounded-md border border-white">
                <h5 class="font-title font-medium text-sm text-white">Metric 1</h5>
                <h6 class="font-title font-medium text-5xl text-white">000</h6>
            </div>
        </div>

    </div>

</header>

<content class="row-start-3 col-start-1 col-span-full">

    <div class="w-full">
        <div hx-get="{{ page.context.endpoint }}" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>

</content>