{% extends "/app/base.html" %}

{% block navbar %}
    {% include "/app/components/navbar.html" %}
{% endblock %}

{% block sidebar %}
    {% include "/app/components/sidebar.html" %}
{% endblock %}

{% block content %}
    <p>
        content
    </p>
{% endblock %}