<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta author="Benjamin Moss">

    <!-- Space & Inter Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

    <!-- Tailwind CSS -->
    <link href="{{ globals.css_url }}/app.css" rel="stylesheet" type="text/css">

    <title>{{ page.title }}</title>
</head>
<body class="h-screen bg-black">

<div class="h-full grid grid-rows-sm grid-cols-sm md:grid-rows-md md:grid-cols-md">

    {% block nav %} {% endblock %}

    {% block sidebar %} {% endblock %}

    {% block content %} {% endblock %}

</div>

</body>

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>

<!-- HyperScript -->
<script src="https://unpkg.com/hyperscript.org@0.9.8"></script>

</html>