<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta author="Benjamin Moss">

    <!-- Space Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

    <!-- Tailwind CSS -->
    <link href="{{ globals.css_url }}/app.css" rel="stylesheet" type="text/css">

    <title>{{ page.title }}</title>
</head>
<body class="h-screen">

<!-- Main content container -->
<div class="h-full grid grid-rows-6 grid-cols-12">

    {% block h_nav %}{% endblock %}

    {% block v_nav %}{% endblock %}

    {% block content %}{% endblock %}

    {% block sidebar %}{% endblock %}

</div>

</body>
</html>