<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Benjamin Moss">

    <link rel="stylesheet" type="text/css" href="/css/output.css">

    <title>{{ document.name }}</title>
</head>
<body class="min-h-screen grid grid-rows-md grid-cols-xl bg-white">

<div
    class="sticky top-0 left-0 col-start-1 col-span-full z-50 
        flex flex-row justify-center align-middle items-center space-x-3 h-12
        border-b border-stone-700 bg-stone-900">

    <div
        class="flex flex-row justify-center items-center
            h-fit px-6
            border-r border-stone-700">

        <h1 class="font-bold text-sm text-white">zenRepair</h1>

    </div>

    <div
        class="flex flex-row justify-center align-middle items-center
            w-fit h-full">

        <a 
            class="inline-flex flex-row justify-center items-center space-x-3
                px-3 h-full
                hover:bg-stone-700"

            href="/web/dashboard">

            <p class="text-sm text-stone-100">Dashboard</p>
        
        </a>

        <a 
            class="inline-flex flex-row justify-center items-center space-x-3
                px-3 h-full
                hover:bg-stone-700"

            href="/web/tickets">

            <p class="text-sm text-stone-100">Tickets</p>
        
        </a>

        <a 
            class="inline-flex flex-row justify-center items-center space-x-3
                px-3 h-full
                hover:bg-stone-700"

            href="#">

            <p class="text-sm text-stone-100">Customers</p>
        
        </a>

        <a 
            class="inline-flex flex-row justify-center items-center space-x-3
                px-3 h-full
                hover:bg-stone-700"

            href="#">

            <p class="text-sm text-stone-100">Devices</p>
        
        </a>
    
    </div>

    <div class="flex-grow"></div>

    <div
        class="flex flex-row justify-center align-middle items-center
            w-fit h-full px-3">

        <button 
            class="inline-flex flex-row justify-center items-center
                px-3 w-12 h-full
                hover:bg-stone-700"
                
            href="#">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
        
        </button>

        <button 
            class="inline-flex flex-row justify-center items-center
                px-3 w-12 h-full
                hover:bg-stone-700"
                
            href="#">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256"><path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Zm88-29.84q.06-2.16,0-4.32l14.92-18.64a8,8,0,0,0,1.48-7.06,107.21,107.21,0,0,0-10.88-26.25,8,8,0,0,0-6-3.93l-23.72-2.64q-1.48-1.56-3-3L186,40.54a8,8,0,0,0-3.94-6,107.71,107.71,0,0,0-26.25-10.87,8,8,0,0,0-7.06,1.49L130.16,40Q128,40,125.84,40L107.2,25.11a8,8,0,0,0-7.06-1.48A107.6,107.6,0,0,0,73.89,34.51a8,8,0,0,0-3.93,6L67.32,64.27q-1.56,1.49-3,3L40.54,70a8,8,0,0,0-6,3.94,107.71,107.71,0,0,0-10.87,26.25,8,8,0,0,0,1.49,7.06L40,125.84Q40,128,40,130.16L25.11,148.8a8,8,0,0,0-1.48,7.06,107.21,107.21,0,0,0,10.88,26.25,8,8,0,0,0,6,3.93l23.72,2.64q1.49,1.56,3,3L70,215.46a8,8,0,0,0,3.94,6,107.71,107.71,0,0,0,26.25,10.87,8,8,0,0,0,7.06-1.49L125.84,216q2.16.06,4.32,0l18.64,14.92a8,8,0,0,0,7.06,1.48,107.21,107.21,0,0,0,26.25-10.88,8,8,0,0,0,3.93-6l2.64-23.72q1.56-1.48,3-3L215.46,186a8,8,0,0,0,6-3.94,107.71,107.71,0,0,0,10.87-26.25,8,8,0,0,0-1.49-7.06Zm-16.1-6.5a73.93,73.93,0,0,1,0,8.68,8,8,0,0,0,1.74,5.48l14.19,17.73a91.57,91.57,0,0,1-6.23,15L187,173.11a8,8,0,0,0-5.1,2.64,74.11,74.11,0,0,1-6.14,6.14,8,8,0,0,0-2.64,5.1l-2.51,22.58a91.32,91.32,0,0,1-15,6.23l-17.74-14.19a8,8,0,0,0-5-1.75h-.48a73.93,73.93,0,0,1-8.68,0,8,8,0,0,0-5.48,1.74L100.45,215.8a91.57,91.57,0,0,1-15-6.23L82.89,187a8,8,0,0,0-2.64-5.1,74.11,74.11,0,0,1-6.14-6.14,8,8,0,0,0-5.1-2.64L46.43,170.6a91.32,91.32,0,0,1-6.23-15l14.19-17.74a8,8,0,0,0,1.74-5.48,73.93,73.93,0,0,1,0-8.68,8,8,0,0,0-1.74-5.48L40.2,100.45a91.57,91.57,0,0,1,6.23-15L69,82.89a8,8,0,0,0,5.1-2.64,74.11,74.11,0,0,1,6.14-6.14A8,8,0,0,0,82.89,69L85.4,46.43a91.32,91.32,0,0,1,15-6.23l17.74,14.19a8,8,0,0,0,5.48,1.74,73.93,73.93,0,0,1,8.68,0,8,8,0,0,0,5.48-1.74L155.55,40.2a91.57,91.57,0,0,1,15,6.23L173.11,69a8,8,0,0,0,2.64,5.1,74.11,74.11,0,0,1,6.14,6.14,8,8,0,0,0,5.1,2.64l22.58,2.51a91.32,91.32,0,0,1,6.23,15l-14.19,17.74A8,8,0,0,0,199.87,123.66Z"></path></svg>
        
        </button>

        <div
            class="ml-3 w-8 h-8 rounded-full bg-white">
        
        </div>
    
    </div>
    
</div>

{% block content_area %} {% endblock %}
    
{% include "scripts.twig" %}

</body>
</html>