<div class="w-full flex flex-col justify-start shadow-sm border border-stone-300 bg-white">
    <div class="px-4 py-1.5 flex flex-row items-center border-b border-stone-300 bg-stone-200">
        <svg class="mr-4 h-6 w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path>
        </svg>
        <h3 class="font-medium text-xs text-stone-700">GDPR Accuracy Guide</h3>
    </div>

    <div class="px-8 py-2.5">
        <ul class="list-disc text-sm text-stone-700">
            <li class="py-1.5">You should take all reasonable steps to ensure the personal data you hold is not incorrect or misleading as to any matter of fact.</li>
            <li class="py-1.5">You may need to keep the personal data updated, although this will depend on what you are using it for.</li>
            <li class="py-1.5">If you discover that personal data is incorrect or misleading, you must take reasonable steps to correct or erase it as soon as possible.</li>
            <li class="py-1.5">You must carefully consider any challenges to the accuracy of personal data.</li>
        </ul>
    </div>

    <div class="w-full px-4 py-2 flex flex-row justify-start items-center">
        <svg class="mr-4 h-3 w-3" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
        </svg>
        <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/principles/accuracy/" class="text-xs text-stone-700 hover:underline">More Information</a>
    </div>
</div>