<div class="w-full flex flex-col justify-start shadow-sm border border-stone-300 bg-white">
    <div class="px-4 py-1.5 flex flex-row items-center border-b border-stone-300 bg-stone-200">
        <svg class="mr-4 h-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1c1917" viewBox="0 0 256 256"><path d="M224,128a96,96,0,1,1-96-96A96,96,0,0,1,224,128Z" opacity="0.2"></path><path d="M144,176a8,8,0,0,1-8,8,16,16,0,0,1-16-16V128a8,8,0,0,1,0-16,16,16,0,0,1,16,16v40A8,8,0,0,1,144,176Zm88-48A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128ZM124,96a12,12,0,1,0-12-12A12,12,0,0,0,124,96Z"></path></svg>
        <h3 class="font-medium text-xs text-stone-700">GDPR Accuracy Guide</h3>
    </div>

    <div class="px-8 py-2.5">
        <ul class="list-disc text-sm text-stone-700">
            <li class="py-1.5">You should take all reasonable steps to ensure the personal data you hold is not incorrect or misleading as to any matter of fact.</li>
            <li class="py-1.5">You may need to keep the personal data updated, although this will depend on what you are using it for.</li>
            <li class="py-1.5">If you discover that personal data is incorrect or misleading, you must take reasonable steps to correct or erase it as soon as possible.</li>
            <li class="py-1.5">You must carefully consider any challenges to the accuracy of personal data.</li>
        </ul>
    </div>

    <div class="w-full px-4 py-2 flex flex-row justify-start items-center">
        <svg class="mr-4 h-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#404040" viewBox="0 0 256 256"><path d="M184,80V208a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V80a8,8,0,0,1,8-8H176A8,8,0,0,1,184,80Z" opacity="0.2"></path><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
        <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/principles/accuracy/" class="text-xs text-stone-700 hover:underline">More Information</a>
    </div>
</div>