<div class="w-full flex flex-col justify-center align-middle items-center px-24">
<div class="w-full mt-9">
    <h1 class="font-bold text-3xl text-zinc-900">Create New Ticket</h1>
    <div class="w-fit mt-5 px-3 py-1.5 font-semibold rounded-md shadow-sm bg-red-600">
        <p class="text-white text-md">GDPR: Please make sure all information is correct before proceeding.</p>
    </div>
</div>
<div class="w-full flex flex-row justify-start align-center items-center mt-9 my-5 py-7 shadow-sm border border-zinc-300 bg-white">
    <form class="px-7" action="/tickets/create" method="POST">
        <label for="subject" class="font-semibold text-md text-zinc-900">Ticket Subject</label><br>
        <input required type="text" name="subject" id="subject" class="mt-1.5 mb-3 w-full text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600"><br>
        <label for="technician" class="font-semibold text-md text-zinc-900">Assigned Technician</label><br>
        <select name="technician" id="technician" class="mt-1.5 mb-3 w-full text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600">
            {% for technician in technicians %}
                <option>({{ technician.id }}) {{ technician.first_name }} {{ technician.last_name }}</option>
            {% endfor %}
        </select><br>
        <label for="customer" class="font-semibold text-md text-zinc-900">Assigned Customer</label><br>
        <select name="customer" id="customer" class="mt-1.5 mb-3 w-full text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600">
            {% for customer in customers %}
                <option>({{ customer.id }}) {{ customer.first_name }} {{ customer.last_name }}</option>
            {% endfor %}
        </select><br>
        <label for="device" class="font-semibold text-md text-zinc-900">Assigned Device</label><br>
        <select name="device" id="device" class="mt-1.5 mb-3 w-full text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600">
            {% for device in devices %}
                <option>({{ device.id }}) {{ device.manufacturer }} {{ device.model }}</option>
            {% endfor %}
        </select>
        
        <input type="submit" value="Add Record" class="w-full mt-5 px-5 py-2 font-semibold text-white text-sm rounded bg-sky-600 hover:bg-sky-700">
    </form>
</div>
</div>