<div class="flex flex-col justify-start align-middle items-center mx-24">
<div class="w-full my-9">
    <h1 class="font-bold text-3xl text-zinc-900">Tickets</h1>
</div>
<div class="flex flex-row justify-center align-middle items-center w-full mb-9">
    <div>
        <form action="/history" action="POST">
            <input type="text" name="search" id="search" placeholder="Search..." class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600">
            <select name="sort" id="sort" class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-sky-600 focus:border-sky-600">
                <option>Newest First</option>
                <option>Oldest First</option>
            </select>
        </form>
    </div>
    <div class="flex-grow"></div>
    <a href="/tickets/create" class="px-5 py-2 font-semibold text-white text-sm rounded bg-sky-600 hover:bg-sky-700">New Ticket</a>
</div>
<div class="w-full border-x border-zinc-300 shadow-sm">
    <table class="w-full table-auto">
        <thead class="border-y border-zinc-300 bg-zinc-100">
            <tr>
                <th class="px-3 py-3 font-semibold text-md text-zinc-700 text-left">Ticket Subject</th>
                <th class="font-semibold text-md text-zinc-700 text-left">Status</th>
                <th class="font-semibold text-md text-zinc-700 text-left">Assigned Technician</th>
                <th class="font-semibold text-md text-zinc-700 text-left">Customer</th>
                <th class="font-semibold text-md text-zinc-700 text-left">Device</th>
                <th class="font-semibold text-md text-zinc-700 text-left">Created</th>
                <th class="font-semibold text-md text-zinc-700 text-left">Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr class="border-b border-zinc-300 bg-white hover:bg-zinc-100">
                <td class="px-3"><a href="/tickets/{{ ticket.id }}" class="w-full py-1.5 text-sm hover:text-sky-600">{{ ticket.subject }}</a></td>
                {% if ticket.status == 0 %}
                    <td><span class="px-3 py-1.5 font-semibold text-xs text-zinc-500 rounded-full border border-zinc-300 bg-zinc-100">Not Started</span></td>
                {% endif %}
                {% if ticket.status == 1 %}
                    <td><span class="px-3 py-1.5 font-semibold text-xs text-yellow-700 rounded-full border border-yellow-500 bg-yellow-200">Pre Testing</span></td>
                {% endif %}
                {% if ticket.status == 2 %}
                    <td><span class="px-3 py-1.5 font-semibold text-xs text-blue-700 rounded-full border border-blue-500 bg-blue-200">In Progress</span></td>
                {% endif %}
                {% if ticket.status == 3 %}
                    <td><span class="px-3 py-1.5 font-semibold text-xs text-yellow-700 rounded-full border border-yellow-500 bg-yellow-200">Post Testing</span></td>
                {% endif %}
                {% if ticket.status == 4 %}
                    <td><span class="px-3 py-1.5 font-semibold text-xs text-green-700 rounded-full border border-green-500 bg-green-200">Completed</span></td>
                {% endif %}
                {% if ticket.status == -1 %}
                    <td><span class="px-3 py-1.5 font-semibold text-xs text-red-700 rounded-full border border-red-500 bg-red-200">Stalled</span></td>
                {% endif %}
                <td class="py-3 text-sm">{{ ticket.assoc_user }}</td>
                <td class="text-sm">{{ ticket.assoc_customer }}</td>
                <td class="text-sm">{{ ticket.assoc_device }}</td>
                <td class="text-sm">{{ ticket.created }}</td>
                <td class="text-sm">{{ ticket.updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>