<!DOCTYPE html>
<html lang="en">
<head>
    <meta author="Benjamin Moss">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Inter Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Tailwind CSS -->
    <link href="{{ css_path }}/output.css" type="text/css" rel="stylesheet">

    <title>{{ title }}</title>
</head>
<body class="bg-gradient-to-r from-indigo-500 to-blue-500">
    <div class="flex flex-col justify-center align-middle items-center">
        <div class="h-40"></div>
        <div class="flex flex-col justify-center align-middle items-center w-1/5 p-5 rounded-lg shadow-lg bg-white">
            <div class="w-full text-left">
                <h1 class="mb-1.5 font-bold text-2xl text-gray-900">Log In</h1>
                <p class="text-sm text-gray-500">to continue to zenrepair.</p>
            </div>
            <div class="mt-7 w-full">
                <form action="/login" method="POST">
                    <label for="username" class="font-semibold text-sm text-gray-900">Username</label><br>
                    <input type="text" name="username" id="username" class="mb-5 w-full text-sm border-gray-400 rounded-md shadow-sm focus:ring-indigo-600"><br>
                    <label for="password" class="font-semibold text-sm text-gray-900">Password</label><br>
                    <input type="password" name="password" id="password" class="mb-5 w-full text-sm border-gray-400 rounded-md shadow-sm focus:ring-indigo-600"><br>
                    <input type="submit" value="Log In" class="mt-5 py-2 w-full text-md text-white border-gray-400 rounded-md shadow-sm bg-indigo-600 hover:bg-indigo-900">
                </form>
            </div>
        </div>
    </div>
</body>
</html>