{% block navbar %}
<nav
    id="navbar"
    class="sticky top-0 left-0 z-50
        row-start-1 row-end-1 col-start-1 col-end-17
        flex flex-row justify-start items-center space-x-3 h-12
        border-b border-stone-700 bg-stone-900">

    <div
        class="px-6
            border-r border-stone-700">

        <h1 class="font-semibold text-sm text-white">zenRepair</h1>
    
    </div>

</nav>
{% endblock %}