<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Benjamin Moss">

    <link rel="stylesheet" type="text/css" href="/css/output.css">

    <title>{{ document.name }}</title>
</head>
<body class="min-h-screen grid grid-rows-md grid-cols-xl bg-stone-900">

<div
    class="sticky top-0 left-0 row-start-1 row-span-1 col-start-1 col-span-full z-50 
        flex flex-row justify-center align-middle items-center h-full
        border-b border-stone-700 bg-stone-900">

    <div
        class="flex flex-row justify-center items-center space-x-3 h-fit px-12">

        <h1 class="font-semibold text-sm text-white">zenRepair</h1>

    </div>

    <div class="flex-grow"></div>
    
</div>

<div 
    class="row-start-2 row-span-full col-start-1 col-end-5
        flex flex-col justify-start align-middle items-center px-12">

    {% block content_area %} {% endblock %}
    
</div>
    
{% include "scripts.twig" %}

</body>
</html>