{% extends "/auth/layout.twig" %}

{% block content_area %}

<div
    class="flex flex-col justify-center align-middle items-start space-y-3
        w-full px-6 py-12">

    <h1 class="font-bold text-2xl text-stone-900">Log in</h1>
    <p class="text-sm text-stone-700">
        Don't have an account? <a class="underline" href="#">Request an account here</a>
    </p>
</div>

<form
    id="authForm"
    class="flex flex-col justify-center align-middle items-start space-y-3
        w-full px-6">

    <div class="w-full space-y-1.5">
        <label class="text-sm" for="totp">Two-Factor Password</label>
        <input class="w-full p-1.5 text-sm border-stone-300 bg-white" type="text" name="totp" id="totp">
    </div>

    <button
        id="authFormBtn"
        hx-post="/twostep"
        hx-include="#authForm"
        class="flex flex-row justify-between align-middle items-center space-x-3
            w-full p-3 bg-blue-600 hover:bg-blue-500">

        <p class="font-medium text-white">Continue</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f7f7f7" viewBox="0 0 256 256"><path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path></svg>
                
    </button>
</form>

{% endblock %}