<div class="row-start-2 row-end-4 col-start-1 col-end-13 flex flex-row justify-center items-center bg-green-700">

    <!-- Title Container -->
    <div class="h-full w-1/3 px-6 pt-12">
        <h2 class="font-semibold text-3xl text-white">{{ user.info.first_name }}'s {{ page.context.Name }}</h2>
    </div>

    <div class="h-full w-2/3 bg-[url('http://localhost:8080/assets/pattern1.png')] bg-origin bg-cover bg-no-repeat">

    </div>

</div>

<div class="row-start-4 row-end-6 col-start-1 col-end-13 px-6 py-4 flex flex-col justify-start align-middle items-start">

    <!-- Ticket Stats -->
    <div class="w-full rounded-sm shadow-sm border border-stone-300 bg-white">

        <div class="w-full px-2 py-1.5 border-b border-stone-300 bg-stone-200">
            <h3 class="font-semibold text-sm text-stone-700">Ticket Stats</h3>
        </div>

        <div class="w-full p-4">
            <p class="font-mono text-red-500">
                show stats here
            </p>
        </div>

    </div>

</div>