<div class="row-start-0 row-span-1 col-start-2 col-end-13 px-6 flex flex-row justify-center align-middle items-center">
    <h2 class="font-semibold text-2xl text-stone-700">{{ user.info.first_name }}'s {{ page.context.Name }}</h2>

    <div class="flex-grow"></div>
</div>

<div class="row-start-2 row-span-4 col-start-2 col-end-13 px-6 py-4 flex flex-col justify-start align-middle items-start">

    <div class="w-full flex flex-row justify-start align-middle items-start overflow-x-scroll">

        {% if stats|length == 0 %}
        <div class="px-4 py-2 flex flex-row justify-start items-center text-stone-500">
            <img src="{{ globals.icons_url }}/png/question-duotone.png" class="mr-4 h-7 opacity-70">
            <h2 class="text-xl">You aren't tracking any statistics.</h2>
        </div>
        {% endif %}

        {% for title, value in stats %}
        <div class="mr-4 px-6 py-4 flex flex-col justify-center align-middle items-start shadow-sm border border-stone-300 bg-white">
            <div class="mb-4">
                <h2 class="text-6xl text-stone-700">{{ value }}</h2>
            </div>
            <div>
                <h3 class="font-medium text-md text-stone-700">{{ title }}</h3>
            </div>
        </div>
        {% endfor %}

    </div>

</div>