<!DOCTYPE html>
<html lang="en">
<head>
    <meta author="Benjamin Moss">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Space Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  

    <!-- Tailwind CSS -->
    <link rel="stylesheet" type="text/css" href="{{ css_url }}/output.css">

    <title>{{ title }}</title>
</head>
<body class="h-screen bg-stone-100">
    <div class="h-full flex flex-row justify-start align-middle items-center">
        <div class="h-full p-2">
            {% block navbar %} {% endblock %}
        </div>

        {% block content %} {% endblock %}
    </div>
</body>

<!-- HTMX -->
<script src="{{ htmx_url }}"></script>

<!-- HyperScript -->
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>

</html>