<!DOCTYPE html>
<html lang="en">
<head>
    <meta author="Benjamin Moss">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Overpass:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap" rel="stylesheet">  

    <!-- Tailwind CSS -->
    <link rel="stylesheet" type="text/css" href="{{ css_url }}/output.css">

    <title>{{ title }}</title>
</head>
<body class="h-screen bg-slate-900">
    <div class="h-full flex flex-row justify-start align-middle items-center">
        {% block navbar %} {% endblock %}

        <div class="h-full pt-2 flex-grow overflow-y-scroll">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>

<!-- HTMX -->
<script src="{{ htmx_url }}"></script>

</html>