<div class="flex flex-col justify-center align-middle px-80 pt-3">
    <div class="my-3">
        <h1 class="text-3xl text-zinc-900 font-bold">{{ category.singularName }}s</h1>
    </div>
    <div class="my-3">
        <div class="flex flex-row justify-center align-middle items-center w-full">
            <div>
                <form action="#" method="POST">
                    <input name="search" id="search" type="text" placeholder="Search {{ category.singularName }}s" class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-zinc-600 focus:border-zinc-600">
                    <select name="sort" id="sort" class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-zinc-600 focus:border-zinc-600">
                        <option value="newest">Newest First</option>
                        <option value="oldest">Oldest First</option>
                    </select>
                </form>
            </div>
            <div class="flex-grow"></div>
            <a href="/{{ category.url }}/create" class="px-5 py-2 text-white font-semibold text-sm rounded bg-zinc-600 hover:bg-zinc-700">New {{ category.singularName }}</a>
        </div>
    </div>
    <div class="my-3">
        <div class="w-full border-x border-gray-300 shadow-sm">
            <table class="w-full table-auto">
                <thead class="border-y border-gray-300 bg-stone-200">
                    <tr>
                        <th class="px-3 py-1.5 font-semibold text-md text-left">Header0</th>
                        <th class="px-3 py-1.5 font-semibold text-md text-left">Header1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-3 py-3 text-sm border-b border-gray-300 bg-stone-50">Data0</td>
                        <td class="px-3 py-3 text-sm border-b border-gray-300 bg-stone-50">Data1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>