<div class="col-span-10 flex flex-col justify-start align-middle rounded-tl-lg rounded-bl-lg px-9 py-6 shadow-lg border border-stone-700 bg-stone-800">
    <div class="my-3">
        <h1 class="text-3xl text-white font-bold">{{ category.singularName }}s</h1>
    </div>
    <div class="my-3 flex flex-row justify-start align-middle items-center">
        <div class="mr-3 p-5 flex flex-col justify-center align-center items-start border border-stone-700 rounded-md shadow-md">
            <div class="">
                <h2 class="text-stone-300 text-xs font-bold">Not Started</h2>
            </div>
            <div class="">
                <h1 class="text-white text-4xl">1,000</h1>
            </div>
        </div>
        <div class="mr-3 p-5 flex flex-col justify-center align-center items-start border border-stone-700 rounded-md shadow-md">
            <div class="">
                <h2 class="text-stone-300 text-xs font-bold">Opened</h2>
            </div>
            <div class="">
                <h1 class="text-white text-4xl">1,000</h1>
            </div>
        </div>
        <div class="mr-3 p-5 flex flex-col justify-center align-center items-start border border-stone-700 rounded-md shadow-md">
            <div class="">
                <h2 class="text-stone-300 text-xs font-bold">In Progress</h2>
            </div>
            <div class="">
                <h1 class="text-white text-4xl">1,000</h1>
            </div>
        </div>
        <div class="mr-3 p-5 flex flex-col justify-center align-center items-start border border-stone-700 rounded-md shadow-md">
            <div class="">
                <h2 class="text-stone-300 text-xs font-bold">Closed</h2>
            </div>
            <div class="">
                <h1 class="text-white text-4xl">1,000</h1>
            </div>
        </div>
    </div>
    <div class="my-3">
        <div class="flex flex-row justify-center align-middle items-center w-full">
            <div>
                <form action="#" method="POST">
                    <input name="search" id="search" type="text" placeholder="Search {{ category.singularName }}s" class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-zinc-600 focus:border-zinc-600">
                    <select name="sort" id="sort" class="text-sm border-gray-400 rounded-md shadow-sm focus:ring-zinc-600 focus:border-zinc-600">
                        <option value="newest">Newest First</option>
                        <option value="oldest">Oldest First</option>
                    </select>
                </form>
            </div>
            <div class="flex-grow"></div>
            <a href="/{{ category.url }}/create" class="px-5 py-2 text-white hover:text-stone-100 font-semibold text-sm rounded bg-stone-600 hover:bg-stone-700">New {{ category.singularName }}</a>
        </div>
    </div>
    <div class="my-3">
        <div class="w-full">
            <table class="w-full table-auto">
                <thead class="border-b border-stone-700">
                    <tr>
                        {% for header in category.table.headers %}
                            <th class="px-3 py-3 text-white text-md text-left">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in category.table.rows %}
                    <tr class="hover:bg-stone-600">
                        {% for data in row %}
                            <td class="px-3 py-5 text-white text-sm border-b border-stone-700">{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>