<div id="modal" _="on closeModal remove me" class="fixed top-0 bottom-0 left-0 right-0 z-50 flex flex-col justify-center align-middle items-center bg-black/70">

    <div class="w-2/4 px-12 py-12 flex flex-col justify-start items-start space-y-4 shadow-sm rounded-sm bg-stone-50">
		
        <h1 class="font-title font-medium text-xl text-stone-900">Create a new Ticket</h1>

        <h3 class="text-sm text-stone-900">Basic Information</h3>

        <div class="h-4"></div>

        <form id="create" class="w-full grid grid-rows-none grid-cols-3 gap-x-6">

            <div class="col-start-1 col-span-1">
                <label for="ticket_subject" class="font-semibold text-xs text-stone-900">Subject</label><br>
                <input required type="text" name="ticket_subject" id="ticket_subject" class="form-input w-full my-2 mb-4 text-sm rounded-sm border-stone-500 focus:border-green-500 bg-stone-50 focus:bg-white focus:ring-green-500"><br>
            </div>

            <div class="col-start-2 col-span-1">
                <label for="ticket_issue_type" class="font-medium text-sm">Issue Type</label><br>
                <select name="ticket_issue_type" id="ticket_issue_type" class="form-input w-full my-2 mb-4 text-sm rounded-sm border-stone-500 focus:border-green-500 bg-stone-50 focus:bg-white focus:ring-green-500">
                    <option value="hardware" selected>Hardware</option>
                    <option value="hardware">Software</option>
                </select>
            </div>

            <div class="col-start-3 col-span-1">
                <label for="ticket_status" class="font-medium text-sm">Initial Status</label><br>
                <select name="ticket_status" id="ticket_status" class="form-input w-full my-2 mb-4 text-sm rounded-sm border-stone-500 focus:border-green-500 bg-stone-50 focus:bg-white focus:ring-green-500">
                    <option value="0" selected>New</option>
                    <option value="1">Pre Testing</option>
                    <option value="2">In Progress</option>
                    <option value="3">Post Testing</option>
                    <option value="4">Completed</option>
                    <option value="5">Stalled</option>
                </select>
            </div>

            <div class="col-start-1 col-span-full">
                <label for="ticket_user" class="font-semibold text-xs text-stone-900">Assigned Technician</label><br>

                <select name="ticket_user" id="ticket_user" class="form-input w-full my-2 mb-4 text-sm rounded-sm border-stone-500 focus:border-green-500 bg-stone-50 focus:bg-white focus:ring-green-500">
                    <option value="id"> {{ user.first_name }} {{ user.last_name }} ({{ user.email }}) </option>
                </select>
            </div>

            <div class="col-start-1 col-span-full">
                <label for="search" class="font-semibold text-xs text-stone-900">Device</label><br>

                <input type="search" 
                    name="search" id="device_owner_search" placeholder="Begin typing to search for a device..." 
                    hx-post="{{ globals.base_url }}/devices/search/select"
                    hx-trigger="keyup changed delay:500ms, search" 
                    hx-target="#device_owner_search_results"
                    hx-swap="innerHTML"
                    class="form-input w-full my-2 mb-4 text-sm rounded-sm border-stone-500 focus:border-green-500 bg-stone-50 focus:bg-white focus:ring-green-500">

                <select id="device_owner_search_results" name="ticket_device"
                        hx-post="{{ globals.base_url }}/devices/search/select"
                        hx-trigger="load"
                        hx-swap="innerHTML"
                        class="form-input w-full my-2 mb-4 text-sm rounded-sm border-stone-500 focus:border-green-500 bg-stone-50 focus:bg-white focus:ring-green-500">
    
                <option value="" selected>Select a device</option>
                </select>
            </div>

        </form>

        <div class="flex flex-row justify-start items-center space-x-6">
            <button _="" hx-post="{{ page.context.endpoint }}/create" hx-include="#create" hx-swap="none" class="px-6 py-2 text-xs text-white rounded-sm bg-green-500 hover:bg-green-700">Create</button>

		    <button _="on click trigger closeModal" class="px-6 py-2 text-xs text-red-500 hover:text-red-700 rounded-sm border border-red-500 hover:border-red-700 bg-red-50 hover:bg-red-100">Cancel</button>
        </div>
	</div>

</div>