<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta author="Benjamin Moss">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Basic CSS-->
    <link href="{{ css_path }}/basic/basic.css" type="text/css" rel="stylesheet">

    <title>{{ title }}</title>
</head>
<body>
    <div class="content">
        <h1>Test Sandbox</h1>
        <table>
            <thead>
                <th>ID</th>
                <th>Subject</th>
                <th>Customer</th>
                <th>Device</th>
                <th>Status</th>
                <th>Created</th>
                <th>Last Updated</th>
            </thead>
            <tbody>
                {% block table_data %}

                {% endblock %}
            </tbody>
        </table>
    </div>
</body>

<!-- HTMX -->
<script src="{{ js_path }}/htmx.min.js"></script>

</html>